{{#ifwith resume.awards}}
	<section>
		<header>
			<h2>Awards</h2>
		</header>
		<ul id="awards-list">
			{{#each this}}
				<li>
					<header>
						<div class="flex-between">
							<h3>
								{{#if title}}
									<span>{{title}}</span>
								{{/if}}
								{{#if awarder}}
									<span>| {{awarder}}</span>
								{{/if}}
							</h3>
							{{#if date}}
								<span>{{date}}</span>
							{{/if}}
						</div>
					</header>
					{{#if summary}}
						<p>{{summary}}</p>
					{{/if}}
				</li>
			{{/each}}
		</ul>
	</section>
{{/ifwith}}