{{#ifwith resume.awards}}
	<section>
		<header>
			<h2>Awards</h2>
		</header>
		{{#each this}}
			<section>
				<header>
					<div class="split">
						<h3>
							{{#if title}}
								<span>{{title}}</span>
							{{/if}}
							{{#if awarder}}
								<span>| {{awarder}}</span>
							{{/if}}
						</h3>
						{{#if date}}
							<span>{{date}}</span>
						{{/if}}
					</div>
				</header>
				{{#if summary}}
					<p>{{summary}}</p>
				{{/if}}
			</section>
		{{/each}}
	</section>
{{/ifwith}}