{{#ifwith resume.interests}}
	<section>
		<header>
			<h2>Interests</h2>
		</header>
		<ul id="interests-list">
			{{#each this}}
				<li>
					<header>
						{{#if name}}
							<h3>{{name}}</h3>
						{{/if}}
					</header>
					{{#ifwith keywords}}
						<ul>
							{{#each this}}
								<li>{{.}}</li>
							{{/each}}
						</ul>
					{{/ifwith}}
				</li>
			{{/each}}
		</ul>
	</section>
{{/ifwith}}