{{#ifwith resume.references}}
	<section>
		<header>
			<h2>References</h2>
		</header>
		<ul id="references-list">
			{{#each this}}
				<li>
					<header>
						{{#if name}}
							<h3>{{name}}</h3>
						{{/if}}
					</header>
					{{#if reference}}
						<p>{{reference}}</p>
					{{/if}}
				</li>
			{{/each}}
		</ul>
	</section>
{{/ifwith}}