{{#ifwith resume.references}}
	<section>
		<header>
			<h2>References</h2>
		</header>
		{{#each this}}
			<section>
				<header>
					{{#if name}}
						<h3>{{name}}</h3>
					{{/if}}
				</header>
				{{#if reference}}
					<p>{{reference}}</p>
				{{/if}}
			</section>
		{{/each}}
	</section>
{{/ifwith}}