{{#ifwith resume.skills}}
	<section>
		<header>
			<h2>Skills</h2>
		</header>
		<div id="skills-list">
			{{#each this}}
				<section>
					{{#if name}}
						<h3>{{name}}</h3>
					{{/if}}
					{{#if level}}
						{{level}}
					{{/if}}
					{{#ifwith keywords}}
						<ul>
							{{#each this}}
								<li>{{.}}</li>
							{{/each}}
						</ul>
					{{/ifwith}}
				</section>
			{{/each}}
		</div>
	</section>
{{/ifwith}}