{{#ifwith resume.skills}}
	<section>
		<header>
			<h2>Skills</h2>
		</header>
		<ul id="skills-list">
			{{#each this}}
				<li>
					<header>
						{{#if name}}
							<h3>{{name}}</h3>
						{{/if}}
					</header>
					{{#if level}}
						{{level}}
					{{/if}}
					{{#ifwith keywords}}
						<ul>
							{{#each this}}
								<li>{{.}}</li>
							{{/each}}
						</ul>
					{{/ifwith}}
				</li>
			{{/each}}
		</ul>
	</section>
{{/ifwith}}