

// * { border: 1px solid red; }

body {
  font-family: $secondary-font;
  font-size: 11pt;
}

header {
  background-color: cornflowerblue;
  color: $header-text-color;
  text-align: center;

  a {
    color: $header-text-color;
    text-decoration: none;
      
    &:hover {
      color: $header-text-hover;
    }
  }
}

h1, h2 {
  font-family: $primary-font;
  font-size: 16pt;
  font-weight: 100;
  
  line-height: 2em;
}

h3, h4, h5 {
  font-size: 11pt;
  font-weight: 500;
}
