* {
  margin: 0;
  box-sizing: border-box;
}

body {
  // border: 1px solid red;

  font-family: $secondary-font;
  font-size: 11pt;
}

h1, h2 {  // header/sections
  font-family: $primary-font;
  font-size: 16pt;
  font-weight: 100;
  
  line-height: 2em;
}

h3, h4, h5 {
  font-size: 11pt;
  font-weight: 500;
}
