* {
  margin: 0;
  box-sizing: border-box;
}

strong {
  font-weight: bold;
}

a {
  color: $light-aqua;
  text-decoration: none;

  &:hover {
    color: $dark-aqua;
    text-decoration: underline;
  }
}

.flex-between {
  display: flex;
  justify-content: space-between;
}
