@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

body {
  font-family: 'Fira Sans', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 11pt;
  font-weight: 100;
}

h1 {
  font-size: 22pt;
}

h2 {
  font-size: 18pt;
}
