@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

body {
  font-family: Consolas, monospace;
  // font-family: 'Ubuntu Mono', monospace;
  color: $dark-slate;
  font-size: 10pt;
}

h1 {
  font-size: 22pt;
}

h2 {
  font-size: 18pt;
}

h3 {
  font-size: 11pt;
  font-style: bold;
}

h4 {
  color: $medium-slate;
  font-size: 11pt;
  font-weight: 500;
}

h5 {
  color: $light-slate;
  font-size: 9pt;
  font-style: italic;
}
