body > header, nav {
  color: #ffffff;
  width: 100%;
  margin: 0;
  padding: 0 $outer-spacing;
}

body > header {
  background-color: $header-color;
  padding-top: $inner-spacing;
  padding-bottom: $inner-spacing;

  & > h2 {
    color: $accent-color;
  }

  & > p {
    text-align: justify;
    margin-top: 1em;
  }
}

nav {
  background-color: $profiles-color;
  padding-top: $inner-spacing;
  padding-bottom: $inner-spacing;

  display: grid;
  grid-template-columns: auto auto;
  justify-items: start;
}


