* {
  margin: 0;
  box-sizing: border-box;
}

body {
  width: $page-width;
  height: $page-height;
}

header {
  padding: $header-padding;
}

main {
  padding: $main-padding;

  section {
    margin: $section-margin;

    .entry {
      margin: 0.5em 0;

      .entry-header {
        margin: 0.5em 0;

        // display: flex;
        // justify-content: space-between;
      }
    }
  }
}

.clearfix {
  overflow: auto;

  &:after {
    content: "";
    clear: both;
    display: table;
  }
}
