/* ------------------------------ variables ------------------------------- */

$primary-font: Helvetica, Arial, sans-serif;
$secondary-font: Verdana, Tahoma, sans-serif;

/* --------------------------------- base --------------------------------- */

* {
  margin: 0;
  box-sizing: border-box;
  // border: 1px solid red;
}

body {
  width: 8.5in;
  height: 11in;
  // padding: 0.25in;

  font-family: $secondary-font;
  font-size: 11pt;
}

h1 {
  font-family: $primary-font;
  font-size: 24pt;
  font-weight: 500;
}

h2 {
  font-family: $primary-font;
  font-size: 16pt;
  font-weight: 400;
}

h3, h4, h5 {
  font-family: $secondary-font;
  font-size: 12pt;
  font-weight: 300;
}

/* -------------------------------- layout -------------------------------- */

body {
  display: grid;
  grid-template-columns: 2in auto;
  grid-template-rows: fit-content(0) auto fit-content(0);
}

header {
  background-color: cornflowerblue;

  grid-column-start: span 2;
  grid-row: 1;
}

aside {
  grid-column: 1;
  grid-row: 2;
}

main {
  grid-column: 2;
  grid-row: 2;
}

footer {
  grid-column-start: span 2;
  grid-row: 3;
}
